.error-page {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 200px;
   
    h1 {
      font-size: 80px;
      color: #FF6060;
      margin-top: 75px;
      margin-bottom: 50px;
    }
       
    p {
      font-size: 23px;
      padding-bottom: 90px;
      color: #FF6060;
      font-weight: 500;
    }
    .smiley-image {
        width: 200px;
        height: auto;
        margin: 20px 0;
      }
    .retour-signIn {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 500;
    
      &:hover {
        text-decoration: underline;
      }
    }
    }
